@page
@model VerlofModel

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Reden van verlof
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action 1</a></li>
        <li><a class="dropdown-item" href="#">Action 2</a></li>
        <li><a class="dropdown-item" href="#">Action 3</a></li>
        <li><a class="dropdown-item" href="#">Anders</a></li>
    </ul>
</div>
