@page
@model VerlofModel

<div class="container mt-5">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Reden van verlof
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Ziek</a>
            <a class="dropdown-item" href="#">Begravenis</a>
            <a class="dropdown-item" href="#">Zwangerschap</a>
            <a class="dropdown-item" href="#">Persoonlijk</a>
            <a class="dropdown-item" href="#">Anders</a>
        </div>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Beschrijving</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="startDate">Begin Datum:</label>
                <input type="date" class="form-control" id="startDate" name="startDate">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="endDate">Eind Datum:</label>
                <input type="date" class="form-control" id="endDate" name="endDate">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="startTime">Begin Time</label>
            <input type="time" class="form-control" id="startTime" placeholder="Select start time" required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="endTime">End Time</label>
            <input type="time" class="form-control" id="endTime" placeholder="Select end time" required>
        </div>
    </div>

    <form>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>